
@{
    ViewData["Title"] = "Children's Activity Log";
}

<h2>Children's Activity Log</h2>
<h4>
    This application will support you to get an overview over the children's activities, meals and sleeping periods.
</h4>
<img src="~/images/Children-playing-grass.jpg" alt="<a href='http://www.freepik.com/free-photo/children-playing-on-grass_854912.htm'>Designed by Freepik</a>" />

